<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="TurboConsole.Core" description="Sitecore turbo console core">
          <targetDataStore physicalRootPath="$(sourceFolder)\Data\serialization\Core" useDataCache="false" singleInstance="true" />
          <predicate name="Core" type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Applications" database="core" path="/sitecore/content/Applications/Turbo Console" />
            <include name="Layout" database="core" path="/sitecore/layout/Layouts/Applications/Turbo Console" />
            <include name="Start Menu" database="core" path="/sitecore/content/Documents and settings/All users/Start menu/Left/Turbo Console" />
          </predicate>
        </configuration>
        <configuration name="TurboConsole.Master" description="Sitecore turbo console core">
          <targetDataStore physicalRootPath="$(sourceFolder)\Data\serialization\Master" useDataCache="false" singleInstance="true" />          
          <predicate name="Master" type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Templates" database="master" path="/sitecore/templates/Turbo Console" />
            <include name="Module" database="master" path="/sitecore/system/Modules/Turbo Console" />
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>