<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig">
  <sitecore>
    <commands>
      <command name="tconsole:run" type="TurboConsole.Client.Commands.RuntimeQueryState, TurboConsole" />
      <command name="tconsole:editsettingsdropdown" type="TurboConsole.Client.Commands.EditConsoleSettingsDropdown, TurboConsole" />
      <command name="tconsole:editsettings" type="TurboConsole.Client.Commands.EditConsoleSettings, TurboConsole" />
    </commands>
    <ui>
      <references>
        <reference id="turboconsole">/bin/TurboConsole.dll</reference>
      </references>
    </ui>
    <controlSources>
      <source mode="on" namespace="TurboConsole.Client.Applications" folder="/sitecore modules/shell/turbo-console/" deep="true" />
    </controlSources>
    <turboconsole>
      <workingDatabase>
        <settings>master</settings>
      </workingDatabase>
    </turboconsole>
    <log4net>
      <appender name="TurboConsoleFileAppender" type="log4net.Appender.SitecoreLogFileAppender, Sitecore.Logging">
        <file value="$(dataFolder)/logs/TC.log.{date}.txt"/>
        <appendToFile value="true"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%4t %d{ABSOLUTE} %-5p %m%n"/>
        </layout>
        <encoding value="utf-8"/>
      </appender>
      <logger name="TurboConsole" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="TurboConsoleFileAppender"/>
      </logger>
    </log4net>
  </sitecore>
</configuration>
